<% include ../../partials/header %>
<section class="content-header">
    <h1> Transfers
  <a class="btn btn-primary btn-large" href="transfers/new">Add</a>
  <a class="btn btn-primary btn-large" href="transfers/stats">Statistics</a>
  <a href="/" class="pull-right   btn btn-primary">Back</a>
</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class=" col-md-3">
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Query" class="form-control">
                        </div>
                        <div class="col-md-9">
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="myTable" class="table table-bordered table-striped">
                        <tr class="header">
                            <th>P#</th>
                            <th>Employee Name</th>
                            <th>Old Division</th>
                            <th>Old Position</th>
                            <th>New Division</th>
                            <th>New Position</th>
                            <th>Effective Date</th>
                            <th>Employee Status</th>
                            <th colspan="2" class="text-center">Actions</th>
                        </tr>
                        <% transfers.forEach(function(obj){%>
                            <tr>
                                <td>
                                    <%= obj.pno %>
                                </td>
                                <td>
                                    <%= obj.ename  %>
                                </td>
                                <td>
                                    <%= obj.odivision %>
                                </td>
                                <td>
                                    <%= obj.oposition %>
                                </td>
                                <td>
                                    <%= obj.ndivision %>
                                </td>
                                <td>
                                    <%= obj.nposition %>
                                </td>
                                <td>
                                    <%= obj.edate %>
                                </td>
                                <td>
                                    <%= obj.status %>
                                </td>
                                <td><a class="btn btn-primary" href="transfers/<%=obj._id%>">Edit</a></td>
                                <td><a class="btn btn-danger" href="/transfers/delete/<%=obj._id%>">Delete</a></td>
                            </tr>
                            <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
function myFunction() {
    // Declare variables 
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
<% include ../../partials/footer %>
