<% include ../../partials/header %>

<section class="content-header">
        <h1>Attrition</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Create new entry</h3>
                    </div>
                    <form role="form" method ="POST" action="<%= object._id%>" >
                    <input type="hidden" name="_method" value="patch"> 
                    <input type="hidden" name="_id" value="<%= object._id %>">
                        <div class="box-body">
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                  <label for="pno">P#</label></div>
                                <div class="col-md-4">

                                <input type="text" name ="pno" value="<%= object.pno %>" class="form-control" for="pno" placeholder="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                  <label for="">Employee Name</label></div>
                                <div class="col-md-4">

                                <input name ="ename" value="<%= object.ename %>" type="text" class="form-control" for="" placeholder="">
                                        
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                  <label for="">Old Division</label></div>
                                <div class="col-md-4">

                                <input name ="odivision" value="<%= object.odivision %>"  type="text" class="form-control" for="" placeholder="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                  <label for="">Old Position</label></div>
                                <div class="col-md-4">

                                <input name ="oposition" value="<%= object.oposition %>"  type="text" class="form-control" for="" placeholder="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                  <label for="">New Division</label></div>
                                <div class="col-md-4">

                                <input name ="ndivision" value="<%= object.ndivision %>"  type="text" class="form-control" for="" placeholder="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                  <label for="">New Position</label></div>
                                <div class="col-md-4">

                                <input  name ="nposition" value="<%= object.nposition %>"  type="text" class="form-control" for="" placeholder="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                  <label for="">Effective Date</label></div>
                                <div class="col-md-4">

                                <input  name ="edate" value="<%= object.edate %>"  type="date" class="form-control" for="" placeholder="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                  <label for="status">Employee Status</label></div>
                                <div class="col-md-4">
                                     <select name="status"  style="width:70%; height:30px"  selected="<%= object.status %>">
                                        <option value="Appointment">Appointment</option>
                                        <option value="Transfer">Transfer</option>
                                    </select>
                              
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-7">
                                        <button class="btn btn-success pull-right" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
    </section>

<% include ../../partials/footer %> 