  <% include ../../partials/header %> 


  <div class = "col-md-12 container-fluid">

    <div class="container-fluid">
     
      <h1>Attrition</h1><p class ="pull-right"> <a href="/" class ="btn btn-primary">Back</a></p>

      <p>
       <a class="btn btn-primary btn-large" href="attrition/new">Add</a>

     </p>



   </div>
 </div>

 <input type="text" id="myinput" onkeyup="myFunction()" placeholder="Search Query" class="form-control">

 <div class = "box" >
  <div>

    <table id="myTable" class="table table-bordered table-striped">
      <tr class="header">

        <th>Employee Categories</th>
        <th>Month</th>
        <th>Average</th>
        <th>Left</th>
        <th>Percentage</th>
        

      </tr>
      <% attrition.forEach(function(obj){%>
      <tr>
        <td><%= obj.ecategories %></td>
        <td><%= obj.month  %></td>
        <td><%= obj.average %></td>
        <td><%= obj.left %></td>
        <td><%= obj.percentage %></td>   
        <td><a class="btn btn-primary" href="attrition/<%=obj._id%>">Edit</a></td>
        <td><a class="btn btn-danger" href="/attrition/delete/<%=obj._id%>">Delete</a></td>
      </tr>
      <% }); %>
    </table>


  </div>
</div>

<script>

function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myinput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}

</script>

<% include ../../partials/footer %> 